body{
	background-color: #000;
}

#mypasses {
	padding-bottom: 15px;
}

#mypasses ul {
	padding-top: 10px;
}

#flash {
	background: #eee8aa;
	-webkit-border-radius: 10px;
	padding: 10px;
	display: none;
}